body {
  margin: 0;
}

.urna {
  background-color: #dbd5c9;
  padding: 30px;
}

.tela {
  width: 450px;
  height: 320px;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);
}

.teclado {
  background-color: #403a3a;
}